<div class="pull-right">
<a id="create-directory"
   class="btn btn-primary btn-create"
   data-toggle="modal"
   data-target="#modal-create"
   data-i18n="action-btn-create-directory"
   type="button">
    Create Directory
</a>

<% if (path) { %>
<div class="pull-right" style="margin-left: 7px;">

<a id="create-link"
   class="btn btn-primary btn-create-link"
   data-toggle="modal"
   data-target="#modal-create"
   data-i18n="action-btn-create-link"
   type="button">
    Create Link
</a>

<a id="btn-upload-to-directory" href="#directories/<%= path %>/upload"
   data-i18n="action-btn-upload-files"
   class="btn btn-primary btn-upload">Upload</a>

<a id="btn-link-documents-to-directory" role="button"
   data-i18n="action-btn-link-documents"
   class="btn btn-primary btn-link-documents">Link documents</a>

<a id="btn-link-link-to-directory" role="button"
   data-i18n="action-btn-link-links"
   class="btn btn-primary btn-link-links">Link a link</a>

<a id="btn-link-quiz-to-directory" role="button"
   data-i18n="action-btn-link-quiz"
   class="btn btn-primary btn-link-quiz">Link quiz</a>

<a id="btn-link-directory-to-directory" role="button"
   data-i18n="action-btn-link-directory"
   class="btn btn-primary btn-link-directory">Link directory</a>

<% }; %>
</div>

<div class="modal-area"></div>
